@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    background-color: #121212;
    color: #ffffff;
    min-height: 100vh;
}

h1 {
    color: #ffffff;
}

.title {
    color: #ffffff;
    font-size: 70px;
    font-family: 'Lobster', cursive;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
    gap: 30px;
}

.gallery .card {
    transition: 0.1s linear;
}

.gallery .card:hover {
    transform: scale(1.1);
    z-index: 10;
}
    
p {
    font-size: 12px;
}
    
img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: top;
}
  
header {
    width: 75%;
}

.welcome {
    font-size: 80px;
    font-family: 'Lobster', cursive;
    color: white;
    text-shadow: 2px 2px 0px darkgreen;
}

.welcome-message {
    font-size: 30px;
}
  
.list-name {
    color: green;
    font-size: 35px;
    font-family: 'Lobster', cursive;
}

.counter, .item {
    font-size: 25px;
}

.navbar-item {
    font-size: 30px;
}

.finch-img {
    width: 50%;
    height: 50%;
    margin-bottom: 10px;
    margin-top: 30px;
    margin-right: 15px;
}

.dropdown-button {
    margin-top: 30px;
}

.finch-name {
    font-size: 40px;
    color: green;
}

.no-comments {
    font-size: 25px;
}

.finch-content, .finch-content-loop {
    font-size: 25px;
}

.finch-description {
    font-size: 25px;
    margin-bottom: 10px;
}

.update-comment, .delete-comment {
    width: 70px;
    height: 30px;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 15px;
    font-weight: bold;
}

.delete-finch {
    width: 50px;
    height: 30px;
    margin-left: 5px;
    margin-top: 10px;
    font-weight: bold;
}

.update-finch-btn {
    height: 30px;
    font-weight: bold;
}

.delete-finch-btn {
    height: 30px;
    font-weight: bold;
    margin-left: 5px;
}

.card-header-title {
    font-size: 25px;
}

.add-finch {
   margin-bottom: 30px;
   font-size: 16px;
   margin-left: ;
}

.detail-page {
    width: 85%;
}

.create-comment {
    margin-top: 15px;
}

.container {
    padding: 40px;
    padding-right: 0;
}

.signup-form,.login {
    font-size: 10px;
}

.search-box {
    margin-bottom: 20px;
    display: inline-block;
}