{% extends 'base.html' %}

{% comment %} for head title tags and helping us with SEO {% endcomment %}
{% block title %}Finch{% endblock  %}

{% block content %}

<h1 class="title">Popular Finches</h1>
<a class="button is-success add-finch" href="{% url 'finch_create' %}">Add Finch</a>
<div class="gallery">
  {% for finch in finches %}
  <a href="{% url 'finch_detail' finch.pk %}">
    <div class="card">
      <div class="card-image">
        <figure class="image is-square">
          <img src="{{finch.img}}" alt="{{finch.name}}" />
        </figure>
      </div>
      <div class="card-header">
        <p class="card-header-title">{{finch.name}}</p>
      </div>
    </div>
  </a>
	{% empty %}
  <article class="message">
    <div class="message-header">
      <p>No Finch Available</p>
    </div>
  </article>

  


  {% endfor %}
</div>
{% endblock %}