{% extends 'base.html' %}

{% comment %} for head title tags and helping us with SEO {% endcomment %}
{% block title %}Finch{% endblock  %}

{% block content %}

<h1 class="title">Popular Finches</h1>
<a class="button is-success add-finch" href="{% url 'finch_create' %}">Add Finch</a>
<div class="gallery">
  {% for finch in finches %}
  <a href="{% url 'finch_detail' finch.pk %}">
    <div class="card">
      <div class="card-image">
        <figure class="image is-square">
          <img src="{{finch.img}}" alt="{{finch.name}}" />
        </figure>
      </div>
      <div class="card-header">
        <p class="card-header-title">{{finch.name}}</p>
      </div>
    </div>
  </a>

  <span>
    <div class="dropdown">
      <div class="dropdown-trigger">
        <button
          class="button"
          aria-haspopup="true"
          aria-controls="dropdown-menu"
        >
          <span>Add to List</span>
          <span class="icon is-small">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
          {% for list in lists %}
      <!-- each playlist becomes a drop
      down item with the ids needed to add to the join table  -->
          <a
            href="{% url 'list_finch_assoc' list.pk finch.pk %}?assoc=add"
            class="dropdown-item"
          >
            {{list.title}}
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </span>

	{% empty %}
  <article class="message">
    <div class="message-header">
      <p>No Finch Available</p>
    </div>
  </article>

  


  {% endfor %}
</div>
{% endblock %}